<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Homepage</title>
</head>
<style>
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>

<body>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <h2>Add Recipe</h2>

        <label>Recipe name</label>
        <input type="text" name="recipe_name_html" required> <br><br>

        <label>Recipe description</label>
        <textarea name="recipe_description_html" required rows="4"> </textarea> <br><br>

        <label>Recipe Image</label>
        <input type="file" name="recipe_image_html"> <br><br>

        <button type="submit">Add recipe</button>
    </form>
<hr>

<table>
    <tr>
        <th>#</th>
        <th>Recipe Name</th>
        <th>Recipe Description</th>
        <th>Recipe Image</th>
        <th>Actions</th>
    </tr>

    {% for recipe in recipes %}
    <tr>
        <td>{{ recipe.recipe_name_model }}</td>
        <td>{{ recipe.recipe_description_model }}</td>
        <td>{{ recipe.recipe_image_model }}</td>
    </tr>
    {%endfor %}
</table>
        
</body>
</html>